<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="DBConnection" value="Paul-LAPTOP64"/>
		<add key="LogFileErrors" value="C:\Temp\PCIError.txt"/>
		<add key="LogFileInfo" value="C:\Temp\PCIInfo.txt"/>
	</appSettings>
	<connectionStrings>
		<add name="Paul-LAPTOP64" connectionString="server=PAUL-LAPTOP64\SQL2012;database=Prosperian;UID=sa;PWD=sa;Integrated Security=false" providerName="System.Data.SqlClient"/>
   </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
</configuration>
